<h1>Kitten List</h1>
<% @kittens.each do |kitten| %>
<div>
    <h3><%= kitten.name %></h3>
    <p>
        Age: <%= kitten.age %>
        <br>
        Cuteness: <%= kitten.cuteness %>
        <br>
        Softness: <%= kitten.softness %>
    </p>
</div>
<% end %>